tab {
    margin-left: 3%;
}

.center {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    border-style: solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.italics {
    font-style: italic;
    color: rgb(147, 147, 147);
}

.selected {
    color: black;
}

.photos {
    width: 30%;
    height: auto;
}

.main {
    
}