.center {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
}

.italics {
    font-style: italic;
}

.photos {
    width: 30%;
    height: auto;
}

.main {
    
}