.container {
    white-space: nowrap;
    padding-top: 35px;
    padding-bottom: 15px;
    width: 743px;
    margin: auto;
}

.center {
    text-align: center;
    border-style: solid;
    border-width: thin;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 643px;
    margin: auto;
}

h1 {
    font-weight: normal;
    font-size: 3.3em;
    margin-top: .35em;
    margin-bottom: 0;
}

.selected {
    color: black;
}

.italics {
    font-size: small;
    font-style: italic;
    color: rgb(115, 115, 115);
    margin-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(115, 115, 115);
  }

tab {
    margin-left: 3%;
}

.nature {
    margin-top: 50px;
    height: 38px;
    width: 743px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
}

.main {
    margin-top: 90px;
}

.row {
    margin: auto;
    width: 743px;
}

.photos {
    width: 370px;
    height: 380px;
    object-fit: cover;
    padding: 1.5px;
}

.footer {
    width: 200px;
    margin: auto;
    padding-top: 25px;
}

.copy {
    color:rgb(115, 115, 115);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    font-size:x-small;
    text-align: center;
}

.social {
    width: 115px;
    margin: auto;
    padding: 10px;
}

.logos {
    width: 20px;
    height: auto;
    padding: 7px;
}