body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}

.search-box {
    margin-top: 7.5%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.title {
    color: rgb(225, 225, 225);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

hr {
    width: 96%;
    height: .3px;
    background-color:rgb(225, 225, 225);
    margin-top: 18px;
}

label {
    color:rgb(172, 211, 226);
    font-size: 20px;
    margin: 25px;
}

#whiteText {
    color:rgba(225, 225, 225, 0.658);
}

input {
    border-radius: 9px;
    height: 35px;
    background: transparent;
    margin-left: 25px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-color: rgba(225, 225, 225, 0.726);
    border-width: .2px;
    border-style: solid;
    color: white;
}

#key {
    width: 95%;
}

#location {
    width: 95%;
}

#dist {
    margin-right: 780px;
}

#distLabel {
    margin-right: 800px;
}

select {
    border-radius: 9px;
    height: 39px;
    background: transparent;
    margin-top: 8px;
    margin-bottom: 6px;
    border-color: rgba(225, 225, 225, 0.726);
    border-width: .2px;
    border-style: solid;
    color: white;
    font-size: 17px;    
}